Given this question:

# QUESTION
topic: {{question.topic}}
question: {{question.question}}
explanation: {{question.explanation}}

Evaluate this answer according with your instructions:

# ANSWER
answer: {{answer.text}}

